/* Primera version (Diseño Jose) */

.login-background {
    background-image: url("../../images/background-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: "#66999";
    background-size: cover;
    background-color: black;
    filter: contrast(85%);
    opacity: 0.95;
}

.login-icon-backgroud {
    background-color: #225B7C
}

.login-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96vh;
}

.login-image {
    margin-top: 20px;
    display: block;
    margin-left: 36%;
    margin-right: auto;
    width: 25%;
    height: 100px;
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5);
}

.login-icon-color {
    background-color: #1966c4;
}

.login-btn {
    border-color: #0000;
    font-weight: bold;
    background-color: #3982ab;
    color: white;
    width: 300px;
    border-radius: 18px;
    height: 40px;
}

#card1 {
    height: -5px;
    border-color: #53a8d3;
    border-width: 2px;
    border-style: solid;
}

@media only screen and (max-width: 479px) {
    .login-image {
        margin-top: 30px;
        display: block;
        margin-left: 35%;
        margin-right: auto;
        width: 30%;
        height: 80px;
        -webkit-filter: saturate(1.5);
        filter: saturate(1.5);
    }
}

/* Segunda version (Diseño Rodrigo) */

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

.container-fluid {
    min-height: 100vh;
}

.login {
    min-height: 100vh;
}

.login .bg-image {
    background: url("../../images/ie-bg-lg.jpg");
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.login .text-1 .title {
    font-weight: bold;
}

.login .text-1 {
    background: linear-gradient(to right, #33C2F0 0%, #00436D 80%);
    color: white;
    font-size: 24px;
    opacity: .80;
}

.login .text-1 p {
    width: 90%;
    margin-top: .8rem;
    margin-bottom: inherit;
}

.text-mv {
    display: none;
}

.form .card {
    border-style: none;
    width: 80%;
    background-color: inherit;
}

.form .img-logo {
    width: 200px;
    margin-bottom: 50px;
}

.form .btn-ingresar {
    margin-top: 30px;
    background: linear-gradient(to right, #33C2F0 0%, #00436D 100%);
    width: 300px;
    border-style: none;
    border-radius: 5px;
}

.form .forgot-password {
    font-size: 15px;
    margin-top: 15px;
    color: #33C2F0;
}

.form .input-group-text {
    border-style: none;
    color: white;
    background-color: #d3d3dd;
    border-radius: 5px 0px 0px 5px;
}

.form .input-group-text .fas {
    color: white;
}

.form .form-check-label {
    font-size: 15px;
}

.form input {
    font-size: 18px;
    border-style: none;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 0px 5px 5px 0;
}

/* Colores de fondo */

.bg-e5 {
    background-color: #e5e5e5;
}

.bg-gray {
    background-color: gray;
}

/* Posicionamiento de elementos */

.center-vertically {
    display: flex;
    align-items: center;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:750px) and (max-device-width: 1024px) {
    .login .bg {
        display: none;
    }
    .text-mv {
        display: inherit;
        margin-left: 0px;
        background: url("../../images/ie-bg-lg.jpg");
        margin: 0px;
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
        font-size: 12px;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .text-mv content {
        width: 90%;
    }
    .text-mv p {
        margin-top: .3rem;
        margin-bottom: inherit;
    }
    .form .img-logo {
        width: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {}