/*  Preloder y loader */
/* #preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
    opacity: 78%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    opacity: 88%;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
} */

html {
    font-size: 16px;
}
* {
    font-family: "Helvetica";
}
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica;
    font-weight: 800 !important;
}
.fondo {
    background-image: url("../images/background-home13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}



/* Estilos para todos los modals */
.modal-header {
    background: linear-gradient(to left, rgb(27, 29, 29), rgb(4, 85, 114));
}
.modal-header-info {
    background: linear-gradient(to left, rgb(27, 29, 29), rgb(4, 85, 114));
    padding-right: 10px;
    color: white;
}
.modal-title {
    color: #ffffff !important;
}
.modal-folio {
    color: #ffffff;
}
.modal-folio {
    padding-top: 30px;
}



/* Informacion del perfil en la parte superior en el movil */
.customer-profile-mobile {
    display: none;
}
.menu-customer {
    background-image: url("../images/ie-bg-home.png");
    padding: 3% 0 0 0;
    margin-right: 0;
    padding-right: 0px;
    position: fixed;
    left: 0;
    z-index: 1;
    min-height: 100vh;
}
.contorno-avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #00d5ff; /* El color de esta propiedad cambiara de acuerdo al color que se le asigne */
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 93%;
    height: 93%;
    border-radius: 50%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .customer-profile-mobile {
        display: block;
        width: 100%;
        height: 20%;
    }
    .menu-customer {
        position: relative;
        min-height: 28vh;
        padding-top: 20%;
        margin-right: 0;
        padding-right: 0px;
        left: 0;
        z-index: 999;
    }
    .contorno-avatar {
        position: absolute;
    }
}




/* Info usuarios franja delgada en la parte superior (Suministros/Servicios/Avances*/
.info-user .content-left {
    background: linear-gradient(to right, #00436d 0%, #233535 100%);
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 25px 0 0 25px;
}
.info-user .details {
    color: white;
    padding: 5px 0px;
}
.info-user .profile-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}
.profile-left .mini-avatar {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-left .mini-avatar img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.info-user .content-right {
    position: relative;
    width: 100px;
}
.info-user .profile-right {
    background-color: #a4d04a;
    height: 78%;
    width: 100%;
    border-radius: 0 25px 25px 0;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-right .mini-avatar {
    background-color: transparent;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #c3e088;
    border-right: 5px solid #33c2f0;
    z-index: 0;
}
.profile-right .mini-avatar img {
    width: 86%;
    height: 86%;
    border-radius: 50%;
    border: solid 1px;
}
.profile-right .info {
    position: absolute;
    top: 10%;
    right: 18%;
    font-size: 12px;
    opacity: 0.4;
}

.content-right .shade {
    background-color: #a4d04a;
    height: 70px;
    width: 100%;
    border-radius: 10px 5px 5px 10px;
    padding-left: 0px;
    position: absolute;
    left: -15px;
    opacity: 0.4;
    z-index: 1;
}







/* Fondo derecho (Suministros/Servicios/Avances) */
.bg-image-right {
    background-image: url("../images/ie-bg-home.png");
    min-height: 95.5vh;
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
    padding: 0px;
}
.bg-image-right .triangle-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #33c2f0;
    opacity: 0.8;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    height: 180px;
    width: 300px;
}
.bg-image-right .triangle-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #00436d;
    opacity: 0.8;
    clip-path: polygon(100% 8%, 0% 100%, 100% 100%);
    height: 300px;
    width: 400px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .bg-image-right {
        display: none;
    }
}




/* Pie de pagina */
footer {
    background-color: #19202c;
    width: 100%;
    height: 8%;
    color: white;
    position: static;
    bottom: 0;
    /*margin-top: -9px;*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    footer {
        margin-top: 10%;
    }
}