/* Estilos para el scroll */
.contenedor {
    height: 45vh;
    overflow: auto;
    width: 100%;
    
  }
  
  .contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #d5d5d5;
    border-radius: 20px;
    padding-right: 20px;
  }
  
  .contenedor::-webkit-scrollbar:vertical {
    width: 9px;
  }
  
  .contenedor::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }
  
  .contenedor::-webkit-scrollbar:horizontal {
    height: 9px;
  }
  
  .contenedor::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
    border: 0.1px solid #f1f2f3;
  }
  
  .contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .supply:hover {
    background-color: #a4d04a;
  }
  
  .supply {
    margin: 0px 1px 0px 10px;
    background-color: thistle;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: color 0.8s linear 0.2s;
  }
  
  /* Estilos para las tarjetitas de cada proyecto */
  
  .project .progress {
    background-color: transparent;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    bottom: -5px;
    padding: 0;
    margin: 0;
    height: 5px;
    width: 100%;
  }
  
  .name{
    font-size: 20px;
    font-weight: bold;
    color: #002335;
  }
  
  .project .bg-image,
  .project .text {
    
    margin: 0px 13px 0px 8px;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
    bottom: 5px;
  }
  
  .project .bg-image {
    background-image: url(../../images/15.png);
    background-repeat: no-repeat;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    height: 50px;
    position: relative;
    border-top: 1px solid white;
    width: 100%;
    
  }
  .project .bg-image img {
    opacity: 100;
  }
  
  .project .text:hover {
    background-color: #dfe0df;
  }
  .project .text {
    border-bottom: 1px solid white;
    background-color: #f6f6f6;
    width: 100%;
  }
  .content-projects {
    padding-top: 80px;
  }
  
  .advances .details .group-buttons {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .btn-input {
    display: block;
    width: 100%;
    background: #002336; /* linear-gradient(to right,#00436D 0%, #233535 100%); */
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 3px 7px;
  }
  
  .btn-input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #002336;
    color: white;
  }
  
  .green{
    background: green;
  }
  
  .yellow{
    background: #E6E60D;
  }
  
  .red{
    background: red;
  }
  
  
  @media (max-width: 750px) {
    .bg-left {
      display: none;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .content-projects {
      padding-top: 30%;
      padding-bottom: 10px;
    }
    .contenedor {
      height: 63vh;
    }
    .content-supply .info-user {
      display: none;
    }
    .content-supply .bg-image-left {
      display: none;
    }
    .project .bg-image {
      height: 150px;
      left: -17px;
      position: relative;
      border-top: 1px solid white;
      width: 300px;
      
    }
    .project .text {
      border-bottom: 1px solid white;
      background-color: #f6f6f6;
      margin-bottom: 10px;
      width: 280px;
      left: -25px;
    }
  
  .advances .details .group-buttons {
    margin-top: 10%;
  }
  .advances .details .group-buttons div {
    margin-top: 1%;
    padding: 0px 7px;
  }
    
  }
  